
<div class="ng-app:appOne" id="ng-app">
    <ul>    
        <li><a href="/AppOne/">AppOne</a></li>
        <li><a href="/AppOne/Two">AppOnePartTwo</a></li>
        <li><a href="/home/index">/home/index</a></li>
    </ul>

    <div ng-view></div>
</div>